@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.ant-menu.ant-menu-sub.ant-menu-inline {
  max-height: 30vh;
  overflow-y: scroll;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 100px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }
}
